main {
  display: flex;
  font-family: "Noto Sans TC", sans-serif;
}

#left {
  flex: 1;
  height: 100vh;
  position: relative;
}
#left img {
  display: block;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}
#left img:nth-of-type(1) {
  width: 50%;
  top: 20%;
}
#left img:nth-of-type(2) {
  width: 50%;
  bottom: 10%;
}

.rightContact {
  flex: 1;
  background-color: #FFFEF7;
  height: 100vh;
}
.rightContact .title {
  font-size: 4vw;
  margin: 10% 0 0 3%;
  border: 1px dashed #91AC48;
}
.rightContact .line {
  border-top: 1px solid black;
  margin: 25px 20px 0 20px;
}
.rightContact .contactBlock {
  margin: 20px 3%;
  border: 1px dashed #B081B7;
}
.rightContact .contactBlock .contact {
  display: flex;
  border: 1px dashed #91AC48;
  justify-content: space-between;
}
.rightContact .contactBlock .contact .titleS {
  position: static;
  font-size: 2vw;
  margin: 10px 0;
  border: 1px dashed #E88FA0;
}
.rightContact .contactBlock .contact .story {
  display: flex;
  flex-direction: column;
  border: 1px dashed #DA923E;
}