$fWhite : #FFFEF7;
$spring : #E88FA0;
$summer : #91AC48;
$autumn : #DA923E;
$winter : #B081B7;

$title : 4vw;

main {
    display: flex;
    font-family: 'Noto Sans TC', sans-serif;
}

#left {
    flex: 1;
    // border: 1px dashed $autumn;
    height: 100vh;
    // display: flex;
    position: relative;

    img {
        display: block;
        position: absolute;
        transform: translateX(-50%);
        left: 50%;

        &:nth-of-type(1) {
            // border: 1px dashed $autumn;
            width: 50%;
            top: 20%;

        }

        &:nth-of-type(2) {
            // border: 1px dashed $summer;
            width: 50%;
            bottom: 10%;
        }
    }
}

.rightContact {
    flex: 1;
    background-color: $fWhite;
    // background-color: $autumn;
    height: 100vh;

    .title {
        font-size: $title;
        margin: 10% 0 0 3%;
        border: 1px dashed $summer;
    }

    .line {
        border-top: 1px solid black;
        margin: 25px 20px 0 20px;
    }

    .contactBlock {
        margin: 20px 3%;
        border: 1px dashed $winter;

        .contact {
            display: flex;
            border: 1px dashed $summer;
            justify-content: space-between;
            .titleS {
                position: static;
                font-size: $title / 2;
                margin: 10px 0;
                border: 1px dashed $spring;
            }

            .story {
                display: flex;
                flex-direction: column;
                border: 1px dashed $autumn;
            }
        }

    }



}